@{
    ViewData["Title"] = "Home Page";
}
@model Pet
<div class="text-center">
    <h1 class="display-4">Tell me about your pet</h1>
    <form asp-action="Create" asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Species"></label>
            <input asp-for="Species" class="form-control">
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="IsFriendly">Are they friendly?</label>
            <input asp-for="IsFriendly">
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary mb-3">
    </form>
</div>
